body
{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
main
{
    display: flex;
    height: 200vh;
    background: url("../assets/img/bg.jpg") center/cover fixed;
    justify-content: center;
    align-items: center;
}
#kalkulator
{
    width: 100vh;
    margin-top: -200px;
    background-image: linear-gradient(40deg,#BDBFBF,#D99E89);
    text-align: center;
    padding: 20px;
    height: 125vh;
}
#kalkulator h2
{
    font-size: 2.5rem;
}
#kalkulator input
{
    font-size: 1.5rem;
}
#kalkulator output
{
    font-size: 1.5rem;
}
#opis
{
    height: 50vh;
}
#opis img
{
    width: 100%;
}

